.sidebar {
  height: 100%;
  max-width: 11%;
  min-width: 160px;
  background-color: gray;
  border-radius: 100px;
  position: fixed;
}

.sidebar-content {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
